.gradient-custom-2 {
    /* fallback for old browsers */
    background: #a8e063;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #56ab2f, #a8e063);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #56ab2f, #a8e063);
  }
  
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }

    .form-label:after {
        content: " *";
        color: red;
    }
   
    input[type="text"],
    input[type="password"],
select.form-control {
    background: transparent;
    border: none;
    border-bottom: 0.3px solid #b6b6b6;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;

    outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
  box-shadow: none;
  outline: none;
  border-color: #b6b6b6;
  box-shadow: none;
  /* Remove any box shadow */

}


  }